body {
  background-color: black;
}

#calculator {
  width: 60%;
  height: 35rem;
  margin: 8rem auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.1);
}

#exit {
  height: 18%;
  width: 80%;
  background-color: transparent;
  text-align: right;
  font-size: xx-large;
  color: white;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 1rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#input {
  display: flex;
  height: 60%;
  width: 80%;
}

#digits {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

#digits > * {
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: x-large;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#digits :nth-child(4n) {
  background-color: orange;
}

#digits :last-child {
  grid-column: span 2;
}

#digits :active {
  transform: scale(0.9);
}
